.payment-container {
    max-width: 500px;
    margin: 500px;
    background-color: #111;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.payment-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .payment-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #222;
    color: white;
  }
  
  .payment-form .form-row {
    display: flex;
    gap: 40px;
  }
  
  .payment-form button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .payment-form button:hover {
    background-color: #777;
  }
  
  .payment-success {
    background-color: #0f0;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }